# Files
*.class
*.mp3
*.mp4
*.mkv
*.mov
*.m4a
*.cfg
*.weights
*.ttf
*.out
*.exe
*.out
*.spec
passwd.*
threekingdoms.txt
redfloordream.txt
tempCodeRunnerFile.*
Python/lSbY/code/photo_2022-04-13_12-05-49.jpg

# Floders
**/.idea
**/target
**/.vscode
**/bin
**/__pycache__
**/build
**/dist
