# Files
*.class
*.mp3
*.mp4
*.mkv
*.mov
*.m4a
*.cfg
*.weights
*.ttf
*.out
*.exe
*.out
*.spec
threekingdoms.txt
tempCodeRunnerFile.*

# Floders
**/.idea
**/target
**/.vscode
**/bin
**/__pycache__
**/build
**/dist
