.jp-CodeCell {
    border: 1px solid #000;
    overflow: visible;
    word-wrap: break-word !important;
}

.jp-Cell-inputArea {

}

.jp-Cell-outputArea {
    /* border: 1px solid #000; */
}

pre {
    font-family: "Cascadia Code";
    font-size: 18px !important;
    overflow: visible;
    word-wrap: break-word !important;
}