* {
    font-family: "Microsoft YaHei";
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    background-image: url(http://www.qingmings.com/images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 15vh;
    width: 100vw;
    transform: scale(0.6);
}

#center {
    width: 76vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::selection {
    background-color: #ab8c40;
    color: #fff;
}

#royal>img {
    width: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #ab8c40;
}

.now {
    color: #ab8c40;
}

#fz {
    border-top: 2px solid #ddd;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#navigate {
    font-weight: bold;
    font-size: 2vh;
    padding: 1vh 0 1vh 0;
    width: 56vw;
    display: flex;
    justify-content: space-between;
}

#banner {
    height: 28vh;
    background-image: url(http://www.qingmings.com/images/banner_sm.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    overflow: hidden;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#bottom {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact {
    font-size: 10px;
}

#sign{
    padding-top: 1vh;
    border-top: 2px solid #ddd;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 3vh;
}

#sign::before {
    content: "\e135";
    margin-left: 1vw;
}

#inform {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#call {
    font-size: 28px;
}

#wtime {
    font-size: 13px;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 6px;
}
