<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>common to index</title>

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

    <!-- Jquery 核心文件-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>
<body>
    <div th:insert="~{common::svg}" style="visibility: hidden; height: 0;"></div>
    <div th:replace="~{common::myHeader}"></div>
    <div style="display: flex; justify-content: space-between;">
        <div th:insert="~{common::leftBar}" style="display: inline-block;"></div>
        <div style="width: 100%; height: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center;">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="javascript:void(0);" onclick="stu()" class="nav-link stu" aria-current="page">学生</a></li>
                    <li class="nav-item"><a href="javascript:void(0);" onclick="tea()" class="nav-link tea active">老师</a></li>
                </ul>
            </header>
            <div class="content" th:insert="~{Teacher::teacher}" style="width: 60%;"></div>
        </div>
    </div>
    <div th:replace="~{common::footer}"></div>
    <script>
        function stu() {
            $(".content").load("../Student .table");
            $(".tea").removeClass("active");
            $(".stu").addClass("active");
        }

        function tea() {
            $(".content").load("../Teacher .table");
            $(".stu").removeClass("active");
            $(".tea").addClass("active");
        }
    </script>
</body>
</html>