<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>common to index</title>

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

    <!-- Jquery 核心文件-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script> -->
</head>

<body>
    <div th:insert="~{common::svg}" style="visibility: hidden; height: 0;"></div>
    <div th:replace="~{common::myHeader}"></div>
    <div class="container position-relative d-flex justify-content-around">
        <div class="" th:insert="~{common::leftBar}"></div>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <table class="table table-bordered table-hover align-middle">
                        <thead>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>年级</th>
                            <th>学院</th>
                            <th>专业</th>
                            <th>操作</th>
                        </thead>
                        <tbody id="info">
                        </tbody>
                    </table>
                    <div class="w-100">
                        <button type="button" class="btn btn-success d-inline-flex justiky-content-start"
                            data-bs-toggle="modal" data-bs-target="#InfoModal" data-bs-action="add">添加信息</button>
                        <nav aria-label="..." class="d-inline-flex justify-content-center">
                            <ul class="pagination" id="buts"></ul>
                        </nav>
                    </div>
                </ul>
            </header>
        </div>
    </div>
    <!-- <div class="fixed-bottom" th:insert="~{common::footer}"></div> -->

    <div class="modal fade" id="InfoModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group flex-nowrap mb-3">
                            <span class="input-group-text col-form-label">学号:</span>
                            <input type="text" class="form-control" placeholder="xxxxxxxxxxxxx" id="id"
                                aria-describedby="addon-wrapping">
                        </div>
                        <div class="input-group flex-nowrap mb-3">
                            <span class="input-group-text col-form-label">姓名:</span>
                            <input type="text" class="form-control" placeholder="张三" id="name"
                                aria-describedby="addon-wrapping">
                        </div>
                        <div class="input-group flex-nowrap mb-3">
                            <span class="input-group-text col-form-label">年级:</span>
                            <input type="text" class="form-control" placeholder="年级" id="grade"
                                aria-describedby="addon-wrapping">
                        </div>
                        <div class="input-group flex-nowrap mb-3">
                            <span class="input-group-text col-form-label">学院:</span>
                            <input type="text" class="form-control" placeholder="学院" id="academy"
                                aria-describedby="addon-wrapping">
                        </div>
                        <div class="input-group flex-nowrap mb-3">
                            <span class="input-group-text col-form-label">专业:</span>
                            <input type="text" class="form-control" placeholder="专业" id="major"
                                aria-describedby="addon-wrapping">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="upload">确认</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var total = 0;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === xhr.DONE)
                if (xhr.status === 200) {
                    var table = ""
                    // console.log(xhr.responseText);
                    var sheet = JSON.parse(xhr.responseText);
                    console.log(sheet);
                    for (var i = 0; i < sheet.length; i++) {
                        table += "<tr class=\"" + sheet[i].id + "\">";
                        table += "<td>" + sheet[i].id + "</td><td>" + sheet[i].name + "</td><td>" + sheet[i].grade;
                        table += "</td><td>" + sheet[i].academy + "</td><td>" + sheet[i].major + "</td>";
                        table += "<td class=\"d-flex justify-content-evenly\">" + op(sheet[i].id, "编辑") + op(sheet[i].id, "删除") + "</td></tr>";
                    }
                    document.getElementById("info").innerHTML = table;
                    $('[data-bs-toggle="popover"]').popover({ trigger: "focus" })
                    for (let i = 0; i < sheet.length; i++) {
                        $("#" + sheet[i].id + "d").click(function () {
                            bootstrap.Popover.getInstance(document.getElementById(sheet[i].id + "d")).show();
                            var f = $(this);
                            if (f.attr("confirming") == "waiting") {
                                console.log("delete");
                                var xhr = new XMLHttpRequest();
                                xhr.open("delete", "http://localhost:11451/CqnuStu/" + sheet[i].id, true);
                                xhr.onreadystatechange = function () {
                                    if (xhr.readyState === xhr.DONE)
                                        if (xhr.status === 200) {
                                            location.reload();
                                        }
                                }
                                xhr.send();
                            } else {
                                f.text("确认");
                                f.attr("confirming", "waiting");
                            }
                        }).mouseout(function () {
                            $(this).attr("confirming", "");
                            $(this).text("删除");
                            bootstrap.Popover.getInstance(document.getElementById(sheet[i].id + "d")).hide();
                        })
                    }
                }
        }

        var infoModal = document.getElementById('InfoModal');
        infoModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-action');
            // Update the modal's content.
            var modalTitle = infoModal.querySelector('.modal-title');
            var modalBodyInputs = infoModal.querySelectorAll(".modal-body input");
            var buttonUpload = infoModal.querySelector('#upload');
            if (recipient == 'add') {
                buttonUpload.setAttribute('action', 'add');
                modalTitle.innerHTML = '添加信息';
                for (var i = 0; i < modalBodyInputs.length; i++) {
                    modalBodyInputs[i].value = '';
                }
                modalBodyInputs[0].removeAttribute('readonly');
            } else if (recipient == 'edit') {
                var id = parseInt(button.getAttribute("id"));
                $("." + id).children().each(function (index, element) {
                    if (index > 4) return;
                    modalBodyInputs[index].value = element.textContent;
                });
                buttonUpload.setAttribute('action', 'edit');
                modalTitle.innerHTML = '编辑信息';
                modalBodyInputs[0].setAttribute('readonly', 'readonly');
            }
        })

        var submit = document.getElementById('upload');
        submit.addEventListener("click", function (event) {
            var action = submit.getAttribute('action');
            var id = document.getElementById('id').value;
            var name = document.getElementById('name').value;
            var grade = document.getElementById('grade').value;
            var academy = document.getElementById('academy').value;
            var major = document.getElementById('major').value;
            var data = "{\"id\":" + id + ",\"name\":\"" + name + "\",\"grade\":\"" + grade + "\",\"academy\":\"" + academy + "\",\"major\":\"" + major + "\"}";

            if (action == 'add') {
                var method = 'POST';
            } else if (action == 'edit') {
                var method = 'PUT';
            }
            var xhr = new XMLHttpRequest();
            xhr.open(method, ("http://localhost:11451/CqnuStu/" + id), true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(data);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === xhr.DONE)
                    if (xhr.status === 200) {
                        location.reload();
                    }
            }
        })


        function op(ia, a) {
            var html = "";
            var operate = ["<button type=\"button\" id=\"", "\"class=\"", " >", "</button>"];
            switch (a) {
                case "编辑":
                    html += operate[0] + ia + "e";
                    html += operate[1];
                    html += "btn btn-primary\"";
                    html += "data-bs-toggle=\"modal\" data-bs-target=\"#InfoModal\" data-bs-action=\"edit\""
                    break;
                case "删除":
                    html += operate[0] + ia + "d";
                    html += operate[1];
                    html += "btn btn-danger\"";
                    html += "data-bs-container=\"body\" data-bs-toggle=\"popover\" data-bs-placement=\"top\" data-bs-title=\"确认删除吗？\"";
                    break;
            }
            html += operate[2] + a + operate[3];
            return html;
        }

        function dis(p) {
            if (p == 1) { $(".prev").parent().addClass("disabled") }
            else $(".prev").parent().removeClass("disabled");
            if (p == total) { $(".next").parent().addClass("disabled") }
            else $(".next").removeClass("disabled");
        }

        function butts(p) {
            var p = parseInt(p);

            var but = ["<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0)\" id=\"", "\" onclick=\"page('", "')\">", "</a></li>"]
            var prevB = "<li class=\"page-item \"><a class=\"page-link prev\" href=\"javascript:void(0)\" onclick=\"prev()\">Previous</a></li>";
            var nextB = "<li class=\"page-item \"><a class=\"page-link next\" href=\"javascript:void(0)\" onclick=\"next()\">Next</a></li>";
            var pag = new XMLHttpRequest();
            pag.onreadystatechange = function () {
                if (pag.readyState === pag.DONE)
                    if (pag.status == 200) {
                        console.log(pag.responseText);
                        total = parseInt(pag.responseText);
                        console.log("total page:" + total);

                        // total = 50;
                        loop = total > 7 ? 7 : total;
                        // $("#buts").append(prevB[0]+(p-1)+prevB[1]);
                        $("#buts").children().remove();
                        $("#buts").append(prevB);
                        for (let i = 0; i < loop; i++) {
                            var str = "";
                            if (i < 3) {
                                str += but[0] + (p + i) + but[1] + (p + i) + but[2] + (p + i) + but[3];
                            } else if (i == 3 && total > 7) {
                                str += but[0] + "..." + but[1] + "..." + but[2] + "..." + but[3];
                            } else if (i > 3 && total > 7) {
                                str += but[0] + (total - loop + 1 + i) + but[1] + (total - loop + 1 + i) + but[2] + (total - loop + 1 + i) + but[3];
                            } else {
                                str += but[0] + (p + i) + but[1] + (p + i) + but[2] + (p + i) + but[3];
                            }
                            $("#buts").append(str);
                            // console.log(str);
                        }
                        // $("#buts").append((nextB[0]+(p+1)+nextB[1]));
                        $("#buts").append(nextB);
                        $("#" + p).parent().addClass("active");
                        dis(p);
                    }
            }
            pag.open("post", "http://localhost:11451/getPages");
            pag.send();
        }

        function prev() {
            var p = $(".active").text();
            if(p == "...")
                var p = parseInt(p);
            else
                
            console.log("上一页:" + (p - 1));
            if (p > 1) {
                p--;
                $(".active").removeClass("active");
                $("#" + p).parent().addClass("active");
                xhr.open("post", ("http://localhost:11451/getData?pages=" + p));
                xhr.send();
                dis(p);
            }
        }

        function next() {
            var p = $(".active").text();
            var p = parseInt(p);
            console.log("下一页" + (p + 1));
            if (p < total) {
                p++;
                $(".active").removeClass("active");
                $("#" + p).parent().addClass("active");
                xhr.open("post", ("http://localhost:11451/getData?pages=" + p));
                xhr.send();
                dis(p);
            }
        }

        function page(p) {
            if (p == "...") {
                p = parseInt($(".active").text()) + 1;
                butts(p);
            }
            var p = parseInt(p);
            xhr.open("post", ("http://localhost:11451/getData?pages=" + p));
            xhr.send();
            $(".active").removeClass("active");
            $("#" + p).parent().addClass("active");
            dis(p);
            console.log("页：" + p);
        }

        xhr.open("post", "http://localhost:11451/getData?pages=1");
        xhr.send();
        butts("1");
    </script>
</body>

</html>